body {
    background-color: rgba(0, 0, 0, 1);
    margin: 0;
    font-family: sans-serif;
}

.container-father {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 0px;
    height: 100vh;
}

.container-dashboard {
    position: relative;
    background: black;
    height: 100vh;
}

.sidebar {
    background: #111;
    color: white;
    height: 100vh;
    overflow: hidden;
    transition: 0.9s;
    padding-top: 60px;
    width: 0px; /* cerrado por defecto */
}

.img-perfil {
    width: 200px;
    height: 200px;
    border-radius: 0%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: width 0.3s, height 0.3s; /* animación suave */
}

/* Para pantallas más grandes (laptop/PC) */
@media (min-width: 768px) {
    .img-perfil {
        width: 300px;
        height: 300px;
    }
}

/* 📱 CELULAR */
@media (max-width: 767px) {
    .sidebar.open {
        width: 130px; /* cuando está abierto */
    }
}

/* 💻 LAPTOP / PC */
@media (min-width: 768px) {
    .sidebar.open {
        width: 230px;
    }
}
